.input-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.checkbox {
  width: 17px;
  outline: none;
  border-width: 0px;
  cursor: pointer;
}
.label-el {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  padding-left: 10px;
}
